doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Developers School
    link(rel="shortcut icon", href="./src/assets/logo/logo-removebg.png", type="image/x-icon")
    link(rel="stylesheet", href="./src/styles/styles.css", attr)
  body 
    main.app__main 
      header.app__header 
        nav.navbar.navbar-default.navbar-static-top
          .container
            .navbar-header
              a.navbar-brand(href='app.html') 
                img(src="./src/assets/logo/logo-removebg.png", alt="")
                span Developer
                span School
              .app__search 
                form.search-content(action="#", method="get") 
                  ion-icon(name="search")
                  input(type="text", placeholder="Search...")
            .navbar-theme 
              input(type="checkbox", name="toggleTheme", id="toggleTheme")
              label.theme-toggle(for="toggleTheme") 
                ion-icon(name="sunny")
                ion-icon(name="moon")
                .slider
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav

                mixin navbarItem( link, name )
                  li.navbar-item 
                    a.app-link(href=link) #[label #{name}]
                
                +navbarItem('home.html', 'Home')
                +navbarItem('docs.html', 'Docs')
                +navbarItem('tips.html', 'Tips')
                
              ul.nav.navbar-nav.navbar-right 
                li.dropdown 
                  button.navbar-avatar.dropdown-toggle(data-toggle='dropdown') 
                    img(src="./src/assets/images/profile/example.jpg", alt="alt")
                    .profile-menu.dropdown 
                      menu(type="toolbar") 

                        mixin profileMenuItem( link, name, icon )
                          li.menu-item 
                            a(href=link) 
                              ion-icon(name=icon)
                              label #{name}

                        +profileMenuItem('#', 'Account', 'person-outline')
                        +profileMenuItem('#', 'Options', 'settings-outline')
                        +profileMenuItem('#', 'Log out', 'log-out-outline')
  
      iframe.app-layout(src="home.html", frameborder="0") 
      
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js") 
  script(type="module", src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js") 
  script(nomodule, src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js") 
  script(src="./src/scripts/main.js") 
  script(src="./src/scripts/components/Navigator/dist/script.dev.js") 
  script(src="./src/scripts/components/Menu/dist/script.dev.js") 